body {
    background-image: url(../img/residentevil4vr-blogroll-1634672771968.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}

:root {
    --font: 'Spectral', serif;
    --font-color: #E0E0E0;
}

header {
    position: relative;
    height: 15vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.flex-nav-container {
    width: 100%;
}

.flex-nav-container .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
}

.flex-nav-container .nav-buttons li {
    list-style: none;
}

.flex-nav-container .nav-buttons li a {
    text-decoration: none;
    font-family: var(--font);
    color: var(--font-color);
}

.title-container {
    display: flex;
    justify-content: center;
    color: var(--font-color);
}

.terms-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.terms-container .terms {
    border: 1px solid var(--font-color);
    margin: 15px;
    padding: 10px;
    text-align: justify;
    overflow: scroll;
    max-height: 55vh;
    max-width: 60vw;
    color: var(--font-color);
    font-size: large;
    background: rgba(0, 0, 0, 0.6);
}

.terms-container .terms .educational {
    color: crimson;
}

.terms-container .terms p {
    padding: 5px;
    font-family: var(--font);
}

.accept-terms {
    color: var(--font-color);
    border: 1px solid var(--font-color);
    margin: 15px;
    padding: 10px;
    font-size: large;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accept-terms button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.accept-terms button:hover {
    transition: all 0.5s ease-out;
    background-color: crimson;
    border: 1px solid white;
    color: white;    
}

footer {
    position: absolute;
    height: 15vh;
    width: 100%;
    bottom: 0;
}

.footer-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-container .social-media {
    display: flex;
    padding: 15px;
}

.footer-container .social-media li {
    list-style-type: none;
}

.footer-container .social-media li a {
    padding-left: 10px;
}

.footer-container .social-media li a i {
    color: var(--font-color);
}

.footer-container .terms-policy a {
    text-decoration: none;
    font-family: var(--font);
    color: var(--font-color);
    padding: 10px;
}